<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITRevu</title>
</head>
<body>

    <header>
        <h1>LITRevu</h1>
        <nav>
            <a href="{% url 'home' %}">Flux</a>
            <a href="{% url 'ticket_create' %}">Créer un billet</a>
            <a href="{% url 'review_create' %}">Créer une critique</a>
            <a href="{% url 'my_post_ticket' %}">Mes posts</a>
            <a href="{% url 'follow' %}">Abonnements</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        </nav>
    </header>

    <main>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </main>

</body>
</html>