{% extends 'base.html' %}

{% block content %}
    <div class="abonnement"> 
        <div class="followunfollow">
            <div class="follow">
                <h3 class ="title-follow">Suivre un utilisateur</h3>
                <form method="post" class="follow-form">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Rechercher">
                    <button type="submit" class="button-follow">Suivre</button>
                </form>
            </div>
            <div class="unfollow">
                <h3 class ="title-unfollow">Utilisateurs suivis</h3>
                {% for follow in following %}
                    <div>
                        <form method="post" class="unfollow-form">
                            <p class="unfollow-name">{{ follow.followed_user.username }}</p>
                            {% csrf_token %}
                            <input type="hidden" name="unfollow" value="{{ follow.followed_user.pk }}">
                            <button type="submit" class="button-unfollow">Se désabonner</button>
                        </form>
                    </div>
                {% empty %}
                    <p>Vous ne suivez personne pour le moment !</p>
                {% endfor %}
            </div>
        </div>
        <div class="recommendation">
            <h4 class="title-recommendation">Suggestions</h4>
                {% for user in recommendations %}
                    <div class="recommendation-card">
                        <p class="recommandation-name">{{ user.username }}</p>
                        <p class="recommandation-number">{{ user.post_count }} billets</p>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ user.username }}">
                            <button type="submit" class="button-recommendation">Suivre</button>
                        </form>
                    </div>
                {% empty %}
                    <p>Aucune suggestion pour le moment !</p>
                {% endfor %}
        </div>
    </div>
{% endblock content %}