{% extends 'base.html' %}

{% block content %}

    <h2 class ="home-title" >Mon flux</h2>

    {% for ticket in tickets %}
        <div class="home-content">
            <div class ="info">
                <h3 class="title" >{{ ticket.title }} - {{ ticket.author }}</h3>
                {% if ticket.avg_rating %}
                    {% load static %}
                    <div class="rating">
                        <p>{{ ticket.reviews.count }} Avis - {{ ticket.avg_rating|floatformat:1 }}</p>
                        <img src="{% static 'images/Star2.png' %}" alt="Home" class="star-img">
                    </div>
                {% endif %}
                <p class ="home-description">{{ ticket.description }}</p>
                <p class ="home-username">{{ ticket.user.username }} - {{ ticket.time_created }}</p>
            </div>
            <div class="ticket-img">
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" class="cover-img" alt="{{ ticket.title }}">
                {% endif %}
            </div>
            <div class="review-button">
                <button class="answer-review">
                    <a class ="links-review" href="{% url 'review_answer' ticket.pk %}">Faire un avis</a>
                </button>
                <button class="view-review toggle-reviews" data-ticket-id="{{ ticket.pk }}">
                    Voir les avis
                </button>
            </div>
        </div>
        <div class="reviews-container" id="reviews-{{ ticket.pk }}">
        {% for review in ticket.reviews.all %}
            <div class="review-card">
                <div class="review-rate">
                    <h4>{{ review.headline }} - {{ review.rating }}</h4>
                    <img src="{% static 'images/Star2.png' %}" alt="Home" class="star-img">
                </div>
                <p class ="review-description">{{ review.body }}</p>
                <p class ="review-username">{{ review.user.username }} - {{ review.time_created }}</p>
            </div>
        {% empty %}
            <p>Aucune critique pour le moment !</p>
        {% endfor %}
    </div>
    {% empty %}
        <p>Aucun contenu pour le moment !</p>
    {% endfor %}

{% endblock content %}