{% extends 'base.html' %}

{% block content %}
    <h2 class="my-post-title">Mes publications</h2>
    <nav class="my-post-nav">
        <a href="{% url 'my_post_ticket' %}" class="post-nav">Billets</a>
        <a href="{% url 'my_post_review' %}" class="post-nav">Avis</a> 
        <a href="{% url 'my_post_answer' %}" class="post-nav">Réponses</a>
    </nav>

    {% for review in reviews %}
        <div>
            <h3>{{ review.headline }}</h3>
            <p>Note : {{ review.rating }}</p>
            <p>{{ review.body }}</p>
            <p>{{ review.time_created }}</p>

            <p>Billet lié : {{ review.ticket.title }}</p>      
            <p>Auteur de l'oeuvre : {{ review.ticket.author }}</p>
            <a href="{% url 'review_edit' review.pk %}">Modifier</a>
            <a href="{% url 'review_delete' review.pk %}">Supprimer</a>
        </div>

    {% empty %}
        <p>Aucune critique pour le moment !</p>
    {% endfor %}

{% endblock content %}