{% extends 'base.html' %}

{% block content %}
    <nav>
        <a href="{% url 'my_post_ticket' %}">Mes billets</a>
        <a href="{% url 'my_post_review' %}">Mes critiques</a> 
    </nav>

    <h2>Mes billets</h2>

    {% for ticket in tickets %}
        <div>
            <h3>{{ ticket.title }}</h3>
            <p>Auteur de l'oeuvre : {{ ticket.author }}</p>
            <p>{{ ticket.description }}</p>
            <p>{{ ticket.time_created }}</p>
            <a href="{% url 'ticket_edit' ticket.pk %}">Modifier</a>
            <a href="{% url 'ticket_delete' ticket.pk %}">Supprimer</a>
        </div>
    {% empty %}
        <p>Aucun billet pour le moment !</p>
    {% endfor %}

{% endblock content %}