{% extends 'base.html' %}

{% block content %}
    <h2 class="my-post-title">Mes publications</h2>
    <nav class="my-post-nav">
        <a href="{% url 'my_post_ticket' %}" class="post-nav">Billets</a>
        <a href="{% url 'my_post_review' %}" class="post-nav">Avis</a> 
        <a href="{% url 'my_post_answer' %}" class="post-nav">Réponses</a>
    </nav>

    {% for ticket in tickets %}
        <div class="home-content">
            <div class ="info">
                <h3 class="title" >{{ ticket.title }} - {{ ticket.author }}</h3>
                {% if ticket.avg_rating %}
                    {% load static %}
                    <div class="rating">
                        <p>{{ ticket.reviews.count }} Avis - {{ ticket.avg_rating|floatformat:1 }}</p>
                        <img src="{% static 'images/Star.png' %}" alt="Home" class="star-img">
                    </div>
                {% endif %}
                <p class ="home-description">{{ ticket.description }}</p>
                <p class ="home-username">{{ ticket.user.username }} - {{ ticket.time_created }}</p>
            </div>
            <div class="ticket-img">
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" class="cover-img" alt="{{ ticket.title }}">
                {% endif %}
            </div>
            <div class="review-button">
                <button class="answer-review">
                    <a class="links-review" href="{% url 'ticket_edit' ticket.pk %}">Modifier</a>
                </button>
                <button class="answer-review">
                        <a class="links-review" href="{% url 'ticket_delete' ticket.pk %}">Supprimer</a> 
                </button>
            </div>
        </div>
    {% empty %}
        <p>Aucun billet pour le moment !</p>
    {% endfor %}

{% endblock content %}
