{% extends 'base.html' %}

{% block content %}

    <div class="answer-ticket">
        <h3 class="answer-title">{{ ticket.title }} - {{ ticket.author }}</h3>
        <p class="answer-description">{{ ticket.description }}</p>
    </div>

    <form class="answer-form" method="post">
    {% csrf_token %}
    
    <div class="answer-field">
        <div class="answer-headline">
            {{ form.headline.label_tag }}
            {{ form.headline }}
        </div>
        <div class="answer-rating">
            {{ form.rating.label_tag }}
            {{ form.rating }}
        </div>
    </div>

    <div class="answer-body">
        {{ form.body.label_tag }}
        {{ form.body }}
    </div>

    <div class="answer-buttons">
        <button class="answer-button" type="submit">Publier</button>
        <a href="{% url 'home' %}" class="answer-button">Annuler</a>
    </div>
</form>

{% endblock content %}