{% extends 'base.html' %}

{% block content %}
    <div class="delete">
        <h2>Supprimer le billet</h2>
        <p>Voulez-vous vraiment supprimer "{{ ticket.title }}" de {{ticket.author}} ?</p>

        <form class="delete-form" method="post">
            {% csrf_token %}
            <button class="delete-button" type="submit">Confirmer la suppression</button>
            <a class="delete-return" href="{% url 'my_post_ticket' %}">Annuler</a>
        </form>
    </div>

{% endblock content %}