{% extends 'base.html' %}

{% block content %}

    <h2 class ="home-title" >Mon flux</h2>

    {% for ticket in tickets %}
        <div class="home-content">
            <div class="ticket-img">
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
                {% endif %}
            </div>
            <div class ="info">
                <h3 class="title" >{{ ticket.title }}</h3>
                <p>Auteur de l'oeuvre : {{ ticket.author }}</p>
                <p>{{ ticket.description }}</p>
                <p>Posté par : {{ ticket.user.username }}</p>
                <p>{{ ticket.time_created }}</p>
            </div>
            <div class="review-button">
                <a href="{% url 'review_answer' ticket.pk %}" class ="answer-review">Créer une critique</a>
                <a href="{% url 'ticket_reviews' ticket.pk %}" class ="view-review">Voir les critiques ({{ ticket.reviews.count }})</a>
            </div>
        </div>
    {% empty %}
        <p>Aucun contenu pour le moment !</p>
    {% endfor %}

{% endblock content %}