{% extends 'base.html' %}

{% block content %}

    <div>
        <h2>{{ ticket.title }}</h2>
        <p>Auteur de l'oeuvre : {{ ticket.author }}</p>
        <p>{{ ticket.description }}</p>
        <p>Posté par : {{ ticket.user.username }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
        {% endif %}
    </div>

    <h3>Critiques ({{ reviews.count }})</h3>

    {% for review in reviews %}
        <div>
            <h4>{{ review.headline }}</h4>
            <p>Note : {{ review.rating }}/5</p>
            <p>{{ review.body }}</p>
            <p>Posté par : {{ review.user.username }}</p>
            <p>{{ review.time_created }}</p>
        </div>
    {% empty %}
        <p>Aucune critique pour le moment !</p>
    {% endfor %}

    <a href="{% url 'home' %}">Retour au flux</a>

{% endblock content %}